
.button{
    margin: 0 auto;
    margin-bottom: 10px;
}
.carousel{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 50px;
    height: max-content;
    /* display: flex; */
    justify-content: center;
}
.carousel .slide {
    height: 70vh;
}
.carousel.slide img{
    max-height: 100%;
    width: auto;
}
.image{
    margin: 0 auto;
    height: 100%;
    width: auto;
}


